<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InstaSharp" version="2.0.6" targetFramework="net461" />
  <package id="Mail.dll" version="3.0.21134.1059" targetFramework="net461" />
  <package id="MailKit" version="2.12.0" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net461" />
  <package id="MimeKit" version="2.12.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
</packages>